@model IEnumerable<AutoPerfecto.Models.Auto>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogo de Autos</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnioFabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KmActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCombustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cilindraje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potencia)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* @Html.DisplayFor(modelItem => item.Vendido) *@
                    @if(item.Vendido.Equals(false))
                    {
                        @:no
                    }
                    else{
                        @:si
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioFabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KmActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCombustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cilindraje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Potencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-controller="Compras" asp-action="Create" asp-route-id="@item.Id">Comprar</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
